                    <header>
                        <h1>With Style</h1>
						<p>Black Rainbow</p>
                    </header>
					<section>
						<h2>Grab It</h2>
						<p>Need something new, interesting, bold? Range is for you. Created since 2008, Range has kept one goal in mind -- to create a style sheet that is dark, easy on the eyes, and colorful.</p>
                    </section>
                    <footer></footer>