// Common mixin functions & vars

$imageDir : '/dat.style/range/i/';

@mixin gradientLinear($c1, $c2) {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($c1), to($c2));
	background-image: -webkit-linear-gradient(top, $c1, $c2);
	background-image: -moz-linear-gradient(top, $c1, $c2);
}