// overrides for global.css
#sortable .sortable_item {
	font-size : 13px;
}

#settings_sections h2 {
    font-size: 21px;
    letter-spacing: normal;
    line-height: 16px;
}

.tooltipster-default {
    border: 0 !important;
}

.tooltipster-default .tooltipster-content {
    font-weight: bold;
    text-shadow: 0 0 3px #000
}