<div class="thin">
	<div class="header">
		<h2><span dir="ltr">Lorem Ipsum</span> [9999] [Dolor]</h2>
		<div class="linkbox">
			<a href="#" class="brackets">Lorem Ipsum</a>
			<a href="#" class="brackets">Lorem Ipsum</a>
			<a href="#" class="brackets">Lorem Ipsum</a>
			<a href="#" class="brackets">Lorem Ipsum</a>
			<a href="#" class="brackets">Lorem Ipsum</a>
		</div>
	</div>
		<div id="recommendation_div" data-id="0" data-type="torrent" style="display: none;" class="center">
			<div style="display: inline-block;" >
				<strong>Recommend to: </strong><select id="friend" name="friend">
				<option value="0" selected="selected">Choose Friend</option>
				</select>
				<input type="text" id="recommendation_note" placeholder="Add note..."/>
				<button id="send_recommendation" disabled>Send</button>
			</div>
			<div class="new" id="recommendation_status"><br/></div>
		</div>
			<div class="sidebar">
		<div class="box box_image box_image_albumart box_albumart"><!-- .box_albumart deprecated -->
			<div class="head"><strong>Cover</strong></div>
			<p align="center"><img style="max-width: 220px;" src="/static/music.png" alt="Various Artists - ECHOTOURIZM Vol. 2 [2013] [Compilation]" /></p>
		</div>
		<div class="box box_artists">
			<div class="head"><strong>Lorem</strong>
			<span style="float:right;" class="edit_artists"><a href="#" class="brackets">Ipsum</a></span>			</div>
			<ul class="stats nobullet" id="artist_list">
				<li class="artist_main">
					<a href="#">Lorem Ipsum Dolor</a> &lrm;			(9999)&nbsp;
				<span class="remove remove_artist"><a href="#" class="brackets">X</a></span>
				<li class="artist_main">
					<a href="#">Lorem Ipsum Dolor</a> &lrm;			(9999)&nbsp;
				<span class="remove remove_artist"><a href="#" class="brackets">X</a></span>
				<li class="artist_main">
					<a href="#">Lorem Ipsum Dolor</a> &lrm;			(9999)&nbsp;
				<span class="remove remove_artist"><a href="#" class="brackets">X</a></span>
				<li class="artist_main">
					<a href="#">Lorem Ipsum Dolor</a> &lrm;			(9999)&nbsp;
				<span class="remove remove_artist"><a href="#" class="brackets">X</a></span>
				<li class="artist_main">
					<a href="#">Lorem Ipsum Dolor</a> &lrm;			(9999)&nbsp;
				<span class="remove remove_artist"><a href="#" class="brackets">X</a></span>
				<li class="artist_main">
					<a href="#">Lorem Ipsum Dolor</a> &lrm;			(9999)&nbsp;
				<span class="remove remove_artist"><a href="#" class="brackets">X</a></span>
				<li class="artist_main">
					<a href="#">Lorem Ipsum Dolor</a> &lrm;			(9999)&nbsp;
				<span class="remove remove_artist"><a href="#" class="brackets">X</a></span>
				<li class="artist_main">
					<a href="#">Lorem Ipsum Dolor</a> &lrm;			(9999)&nbsp;
				<span class="remove remove_artist"><a href="#" class="brackets">X</a></span>
				<li class="artist_main">
					<a href="#">Lorem Ipsum Dolor</a> &lrm;			(9999)&nbsp;
				<span class="remove remove_artist"><a href="#" class="brackets">X</a></span>
				<li class="artist_main">
					<a href="#">Lorem Ipsum Dolor</a> &lrm;			(9999)&nbsp;
				<span class="remove remove_artist"><a href="#" class="brackets">X</a></span>
			</ul>
		</div>
		<div class="box box_addartists">
			<div class="head"><strong>Lorem Ipsum</strong><span style="float:right;" class="additional_add_artist"><a href="#" class="brackets">+</a></span></div>
			<div class="body">
				<form class="add_form" name="artists" action="" method="">
					<div id="AddArtists">
						<select name="importance[]">
							<option value="1">Lorem</option>
							<option value="2">Ipsum</option>
							<option value="4">Dolor</option>
							<option value="5">Sit</option>
						</select>
					</div>
					<input type="button" value="Lorem" />
				</form>
			</div>
		</div>
<div class="box" id="votes">
	<div class="head"><strong>Lorem Ipsum</strong></div>
	<div class="album_votes body">
		Lorem ipsum <span id="upvotes" class="favoritecount">9</span> dolor sit amet <span id="totalvotes" class="favoritecount">9</span> consectetur<span id="upvoted" class="hidden">, adipiscing elit etiam</span><span id="downvoted" class="hidden">, adipiscing elit etiam</span>.
		<br /><br />
		<span id="vote_message"><a href="#" class="brackets upvote">Lorem</a> - <a href="#" class="brackets downvote">Ipsum</a></span>
		<span class="hidden" id="unvote_message">
			Changed your mind?
			<br />
			<a href="#" class="brackets">Clear your vote</a>
		</span>
	</div>
</div>
		<div class="box box_tags">
			<div class="head"><strong>Lorem</strong></div>
			<ul class="stats nobullet">
				<li>
					<a href="#" style="float:left; display:block;">lorem</a>
					<div style="float:right; display:block; letter-spacing: -1px;" class="edit_tags_votes">
					<a href="#" style="font-family: monospace;">&minus;</a>
					11					<a href="#" style="font-family: monospace;">+</a>
					<span class="remove remove_tag"><a href="#" class="brackets">X</a></span>
					</div>
					<br style="clear:both" />
				</li>
				<li>
					<a href="#" style="float:left; display:block;">lorem</a>
					<div style="float:right; display:block; letter-spacing: -1px;" class="edit_tags_votes">
					<a href="#" style="font-family: monospace;">&minus;</a>
					11					<a href="#" style="font-family: monospace;">+</a>
					<span class="remove remove_tag"><a href="#" class="brackets">X</a></span>
					</div>
					<br style="clear:both" />
				</li>
				<li>
					<a href="#" style="float:left; display:block;">lorem</a>
					<div style="float:right; display:block; letter-spacing: -1px;" class="edit_tags_votes">
					<a href="#" style="font-family: monospace;">&minus;</a>
					11					<a href="#" style="font-family: monospace;">+</a>
					<span class="remove remove_tag"><a href="#" class="brackets">X</a></span>
					</div>
					<br style="clear:both" />
				</li>
				<li>
					<a href="#" style="float:left; display:block;">lorem</a>
					<div style="float:right; display:block; letter-spacing: -1px;" class="edit_tags_votes">
					<a href="#" style="font-family: monospace;">&minus;</a>
					11					<a href="#" style="font-family: monospace;">+</a>
					<span class="remove remove_tag"><a href="#" class="brackets">X</a></span>
					</div>
					<br style="clear:both" />
				</li>
				<li>
					<a href="#" style="float:left; display:block;">lorem</a>
					<div style="float:right; display:block; letter-spacing: -1px;" class="edit_tags_votes">
					<a href="#" style="font-family: monospace;">&minus;</a>
					11					<a href="#" style="font-family: monospace;">+</a>
					<span class="remove remove_tag"><a href="#" class="brackets">X</a></span>
					</div>
					<br style="clear:both" />
				</li>
				<li>
					<a href="#" style="float:left; display:block;">lorem</a>
					<div style="float:right; display:block; letter-spacing: -1px;" class="edit_tags_votes">
					<a href="#" style="font-family: monospace;">&minus;</a>
					11					<a href="#" style="font-family: monospace;">+</a>
					<span class="remove remove_tag"><a href="#" class="brackets">X</a></span>
					</div>
					<br style="clear:both" />
				</li>
			</ul>
		</div>
		<div class="box box_addtag">
			<div class="head"><strong>Lorem Ipsum</strong></div>
			<div class="body">
				<form class="add_form" name="tags" action="" method="">
					<input type="text" name="tagname" size="20" />
					<input type="button" value="+" />
				</form>
				<br /><br />
				<strong><a href="#">Lorem Ipsum</a></strong>
			</div>
		</div>
	</div>
	<div class="main_column">
		<table class="torrent_table details" id="torrent_details">
			<tr class="colhead_dark">
				<td width="80%"><strong>Lorem</strong></td>
				<td><strong>Size</strong></td>
				<td class="sign"><img src="/static/snatched.png" alt="Snatches" /></td>
				<td class="sign"><img src="/static/seeders.png" alt="Seeders" /></td>
				<td class="sign"><img src="/static/leechers.png" alt="Leechers" /></td>
			</tr>
		<tr class="releases_7 groupid_0 edition group_torrent">
			<td colspan="5" class="edition_info"><strong><a href="#">&minus;</a> Lorem Ipsum / Dolor / Lorem99 / Ipsum</strong></td>
		</tr>

			<tr class="torrent_row releases_7 groupid_0 edition_1 group_torrent" style="font-weight: normal;" id="torrent30567589">
				<td>
					<span>[ <a href="torrents.php?action=download&id=0&authkey=0&torrent_pass=0">DL</a>
						| <a href="reportsv2.php?action=report&id=0">RP</a>
						| <a href="torrents.php?action=edit&id=0">ED</a>

						| <a href="torrents.php?torrentid=0">PL</a>
					]</span>
					&raquo; <a href="#">Lorem / Ipsum / <strong class="torrent_label tl_free tl_neutral">Dolor Sit!</strong></a>
				</td>
				<td class="nobr">999.99 MB</td>
				<td>9</td>
				<td>9</td>
				<td>9</td>
			</tr>
			<tr class="releases_7 groupid_0 edition_1 torrentdetails pad" id="torrent_0">
				<td colspan="5">
					<blockquote>
						Lorem ad <a href="#">lorem ipsum</a> <span class="time" title="">1 lorem ipsum</span>
					</blockquote>
					<div class="linkbox">
						<a href="#" class="brackets">Lorem Ipsum</a>
						<a href="#" class="brackets">Dolor</a>
					</div>
					<div id="peers_0" class="hidden"></div>
					<div id="downloads_0" class="hidden"></div>
					<div id="snatches_0" class="hidden"></div>
					<div id="files_0" class="">
	<table class="filelist_table">
		<tr class="colhead_dark"><td>
			<div class="filelist_title" style="float: left;">Lorem Ipsum</div>
			<div class="filelist_path" style="float: right;">/Dolor Sit Amet/</div>
		</td><td>
			<strong>Lorem</strong>
		</td></tr>
<tr><td>Lorem.ipsum</td><td>9.99 MB</td></tr>
<tr><td>Lorem.ipsum</td><td>9.99 MB</td></tr>
<tr><td>Lorem.ipsum</td><td>9.99 MB</td></tr>
<tr><td>Lorem.ipsum</td><td>9.99 MB</td></tr>
<tr><td>Lorem.ipsum</td><td>9.99 MB</td></tr>
<tr><td>Lorem.ipsum</td><td>9.99 MB</td></tr>
<tr><td>folder.jpg</td><td>9.99 KB</td></tr>
	</table></div>
									</td>
			</tr>

			<tr class="torrent_row releases_7 groupid_0 edition_1 group_torrent" style="font-weight: normal;" id="torrent30571174">
				<td>
					<span>[ <a href="torrents.php?action=download&id=0&authkey=0&torrent_pass=0">DL</a>
						| <a href="reportsv2.php?action=report&id=0">RP</a>
						| <a href="torrents.php?action=edit&id=0">ED</a>

						| <a href="torrents.php?torrentid=0">PL</a>
					]</span>
					&raquo; <a href="#">Lorem / 999</a>
				</td>
				<td class="nobr">999.99 MB</td>
				<td>99</td>
				<td>99</td>
				<td>99</td>
			</tr>
			<tr class="torrent_row releases_7 groupid_0 edition_1 group_torrent" style="font-weight: normal;" id="torrent30567388">
				<td>
					<span>[ <a href="torrents.php?action=download&id=0&authkey=0&torrent_pass=0">DL</a>
						| <a href="reportsv2.php?action=report&id=0">RP</a>
						| <a href="torrents.php?action=edit&id=0">ED</a>

						| <a href="torrents.php?torrentid=0">PL</a>
					]</span>
					&raquo; <a href="#">Lorem / Ipsum (Dolor) / <strong class="torrent_label tl_free tl_neutral">Dolor Sit!</strong></a>
				</td>
				<td class="nobr">999.99 MB</td>
				<td>99</td>
				<td>99</td>
				<td>99</td>
			</tr>
			<tr class="torrent_row releases_7 groupid_0 edition_1 group_torrent" style="font-weight: normal;" id="torrent30571177">
				<td>
					<span>[ <a href="torrents.php?action=download&id=0&authkey=0&torrent_pass=0">DL</a>
						| <a href="reportsv2.php?action=report&id=0">RP</a>
						| <a href="torrents.php?action=edit&id=0">ED</a>

						| <a href="torrents.php?torrentid=0">PL</a>
					]</span>
					&raquo; <a href="#">Lorem / Ipsum (Dolor)</a>
				</td>
				<td class="nobr">999.99 MB</td>
				<td>99</td>
				<td>99</td>
				<td>99</td>
			</tr>
		</table>
		<table class="collage_table" id="collages">
			<tr class="colhead">
				<td width="85%"><a href="#">&uarr;</a>&nbsp;Lorem ipsum 1 dolor</td>
				<td># torrents</td>
			</tr>
			<tr>
				<td><a href="#">Lorem ipsum</a></td>
				<td>99</td>
			</tr>
		</table>
		<div class="box">
			<div class="head"><a href="#">&uarr;</a>&nbsp;<strong>Lorem Ipsum</strong></div>
			<div class="body"><ol><li>Praesent consequat neque</li>
<li>Pellentesque</li>
<li>Donec tristique</li>
<li>Nulla</li>
<li>Nullam at libero augue</li></ol></div>
		</div>
	<div class="linkbox"><a name="comments"></a>
	</div>
		<div class="linkbox">
				</div>

			<br />
			<div id="reply_box">
				<h3>Lorem ipsum</h3>
				<div class="box pad">
					<form class="send_form center" name="reply" id="quickpostform" action="" method="">
						<input type="hidden" name="action" value="reply" />
						<div id="quickreplytext">

<div id="textarea_wrap_0" class="textarea_wrap">
	<textarea name="body" id="quickpost" cols="65" rows="8"  tabindex="1" onkeyup=""></textarea>
</div>
							<br />
						</div>
						<div class="preview_submit">
							<input type="button" value="Dolor" class="hidden button_preview_0" />
							<input type="button" value="Lorem Ipsum" id="submit_button" tabindex="1" />
						</div>
					</form>
				</div>
			</div>
	</div>
</div>

