<div class="thin">
	<div class="sidebar">
<div id="merchbox" class="box">
	<div class="head colhead_dark">
		<strong>Lorem ipsum</strong>
	</div>
	<div class="center pad">
		<a href="#"><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</em></a>
	</div>
</div>
		<div class="box">
			<div class="head colhead_dark"><strong>Lorem ipsum</strong></div>
			<div class="center pad"><a href="#"><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit</em></a></div>
		</div>
		<div class="box">
			<div class="head colhead_dark"><strong><a href="#">Lorem ipsum</a></strong></div>
			<ul class="stats nobullet">
				<li>
					1. <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
				</li>
				<li>
					2. <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
				</li>
				<li>
					3. <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
				</li>
				<li>
					4. <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
				</li>
				<li>
					5. <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
				</li>
			</ul>
		</div>
		<div class="box">
			<div class="head colhead_dark"><strong>Lorem ipsum</strong></div>
			<ul class="stats nobullet">
				<li>Lorem ipsum: 999,999</li>
				<li>Lorem ipsum: 999,999 (99.99%)</li>
				<li>Lorem ipsum: 999,999</li>
				<li>Lorem ipsum: 999,999</li>
				<li>Lorem ipsum: 999,999 (99.99%)</li>
				<li>Lorem ipsum: 999,999</li>
				<li>Lorem ipsum: 999,999</li>
				<li>Lorem ipsum: 999,999</li>
				<li>Lorem ipsum: <span class="r50" title="Lorem ipsum">99.99</span></li>
			</ul>
		</div>
		<div class="box">
			<div class="head colhead_dark"><strong>Lorem ipsum</strong></div>
			<div class="pad">
				<p><strong>Lorem ipsum</strong></p>
				<ul class="poll nobullet">
					<li>&raquo; Lorem ipsum (28.22%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:117px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (33.64%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:140px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (12.00%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:50px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (2.37%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:10px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (1.68%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:7px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (1.55%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:6px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (0.39%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:2px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (4.99%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:21px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (0.65%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:3px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (2.99%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:12px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (0.43%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:2px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (0.42%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:2px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (1.33%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:6px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (0.33%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:1px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (0.26%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:1px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (0.08%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:0px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (0.05%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:0px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (1.23%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:5px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (0.06%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:0px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (0.18%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:1px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (0.03%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:0px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (0.40%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:2px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (0.36%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:1px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (5.56%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:23px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
					<li>Lorem ipsum (0.80%)</li>
					<li class="graph">
						<span class="left_poll"></span>
						<span class="center_poll" style="width:3px;"></span>
						<span class="right_poll"></span>
						<br />
					</li>
				</ul>
				<strong>Lorem ipsum:</strong> 999,999<br />
				<br /><strong>Lorem ipsum:</strong> <a href="#">Lorem</a>
			</div>
		</div>
	</div>
	<div class="main_column">
	<div class="box" id="recommended">
		<div class="head colhead_dark">
			<strong>Lorem ipsum dolor sit amet</strong>
            <a href="#" class="brackets">Lorem</a>
		</div>

		<table class="torrent_table" id="vanityhouse">
			<tr>
				<td>
					<a href="#">Lorem ipsum</a> - 					<a href="#">Lorem ipsum</a> (ipsum <a href="#">Lorem ipsum</a>)
					<br />
<div class="tags"><a href="#">Lorem</a> , <a href="#">ipsum</a> , <a href="#">dolor</a> , <a href="#">sit</a> , <a href="#">amet</a> </div>				</td>
			</tr>
			<tr>
				<td>
					<a href="#">Lorem ipsum</a> - 					<a href="#">Lorem ipsum</a> (ipsum <a href="#">Lorem ipsum</a>)
					<br />
<div class="tags"><a href="#">Lorem</a> , <a href="#">ipsum</a> , <a href="#">dolor</a> , <a href="#">sit</a> , <a href="#">amet</a> </div>				</td>
			</tr>
			<tr>
				<td>
					<a href="#">Lorem ipsum</a> - 					<a href="#">Lorem ipsum</a> (ipsum <a href="#">Lorem ipsum</a>)
					<br />
<div class="tags"><a href="#">Lorem</a> , <a href="#">ipsum</a> , <a href="#">dolor</a> , <a href="#">sit</a> , <a href="#">amet</a> </div>				</td>
			</tr>
			<tr>
				<td>
					<a href="#">Lorem ipsum</a> - 					<a href="#">Lorem ipsum</a> (ipsum <a href="#">Lorem ipsum</a>)
					<br />
<div class="tags"><a href="#">Lorem</a> , <a href="#">ipsum</a> , <a href="#">dolor</a> , <a href="#">sit</a> , <a href="#">amet</a> </div>				</td>
			</tr>
			<tr>
				<td>
					<a href="#">Lorem ipsum</a> - 					<a href="#">Lorem ipsum</a> (ipsum <a href="#">Lorem ipsum</a>)
					<br />
<div class="tags"><a href="#">Lorem</a> , <a href="#">ipsum</a> , <a href="#">dolor</a> , <a href="#">sit</a> , <a href="#">amet</a> </div>				</td>
			</tr>
			<tr>
				<td>
					<a href="#">Lorem ipsum</a> - 					<a href="#">Lorem ipsum</a> (ipsum <a href="#">Lorem ipsum</a>)
					<br />
<div class="tags"><a href="#">Lorem</a> , <a href="#">ipsum</a> , <a href="#">dolor</a> , <a href="#">sit</a> , <a href="#">amet</a> </div>				</td>
			</tr>
			<tr>
				<td>
					<a href="#">Lorem ipsum</a> - 					<a href="#">Lorem ipsum</a> (ipsum <a href="#">Lorem ipsum</a>)
					<br />
<div class="tags"><a href="#">Lorem</a> , <a href="#">ipsum</a> , <a href="#">dolor</a> , <a href="#">sit</a> , <a href="#">amet</a> </div>				</td>
			</tr>
			<tr>
				<td>
					<a href="#">Lorem ipsum</a> - 					<a href="#">Lorem ipsum</a> (ipsum <a href="#">Lorem ipsum</a>)
					<br />
<div class="tags"><a href="#">Lorem</a> , <a href="#">ipsum</a> , <a href="#">dolor</a> , <a href="#">sit</a> , <a href="#">amet</a> </div>				</td>
			</tr>
			<tr>
				<td>
					<a href="#">Lorem ipsum</a> - 					<a href="#">Lorem ipsum</a> (ipsum <a href="#">Lorem ipsum</a>)
					<br />
<div class="tags"><a href="#">Lorem</a> , <a href="#">ipsum</a> , <a href="#">dolor</a> , <a href="#">sit</a> , <a href="#">amet</a> </div>				</td>
			</tr>
			<tr>
				<td>
					<a href="#">Lorem ipsum</a> - 					<a href="#">Lorem ipsum</a> (ipsum <a href="#">Lorem ipsum</a>)
					<br />
<div class="tags"><a href="#">Lorem</a> , <a href="#">ipsum</a> , <a href="#">dolor</a> , <a href="#">sit</a> , <a href="#">amet</a> </div>				</td>
			</tr>
		</table>
	</div>
		<div id="news5" class="box">
			<div class="head">
				<strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> <span class="time" title="">1 Day ago</span></div>
			<div class="pad"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac sapien vitae urna lobortis volutpat. Integer id eros vehicula sem mattis aliquet. Duis ante nisi, feugiat at adipiscing et, volutpat nec tellus. In libero arcu, porta vitae suscipit tempus, aliquam id eros. Nulla eu nisl at urna ornare accumsan. In placerat sollicitudin est sit amet auctor. Donec consequat mi facilisis tortor ornare rutrum porttitor lorem malesuada. Curabitur vitae ligula purus. Suspendisse consequat tincidunt erat, ut tincidunt orci facilisis non. Etiam ultricies dapibus ultrices. Aenean elit felis, pellentesque mollis cursus nec, tempus ac dolor. Aenean gravida tortor sed ligula feugiat a aliquam odio auctor.<br>
<br />
Ut vitae lectus a est commodo imperdiet. Vivamus auctor tristique ipsum in ultricies. Suspendisse a velit justo. Phasellus vitae diam vel mi facilisis sollicitudin. Suspendisse vehicula fringilla ultrices. Suspendisse pulvinar sagittis vestibulum. Aliquam eget elit non justo pharetra accumsan ac non lorem. Duis in lorem vitae nulla ornare varius sed a felis. Fusce nisi massa, bibendum sed mollis ac, placerat ut lacus. Aliquam quis lacus non odio varius eleifend eget at turpis. Cras faucibus, nulla a consectetur ultricies, mi ligula dapibus metus, vitae sollicitudin sapien lacus ac est. Nam vel risus lacus. Mauris ut mauris nec urna facilisis tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce at libero at orci iaculis feugiat.<br />
<br />
<em>(<a href="#">Lorem ipsum</a>)</em></div>
		</div>
		<div id="news4" class="box">
			<div class="head">
				<strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> <span class="time" title="">1 Day ago</span></div>
			<div class="pad"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac sapien vitae urna lobortis volutpat. Integer id eros vehicula sem mattis aliquet. Duis ante nisi, feugiat at adipiscing et, volutpat nec tellus. In libero arcu, porta vitae suscipit tempus, aliquam id eros. Nulla eu nisl at urna ornare accumsan. In placerat sollicitudin est sit amet auctor. Donec consequat mi facilisis tortor ornare rutrum porttitor lorem malesuada. Curabitur vitae ligula purus. Suspendisse consequat tincidunt erat, ut tincidunt orci facilisis non. Etiam ultricies dapibus ultrices. Aenean elit felis, pellentesque mollis cursus nec, tempus ac dolor. Aenean gravida tortor sed ligula feugiat a aliquam odio auctor.<br>
<br />
Ut vitae lectus a est commodo imperdiet. Vivamus auctor tristique ipsum in ultricies. Suspendisse a velit justo. Phasellus vitae diam vel mi facilisis sollicitudin. Suspendisse vehicula fringilla ultrices. Suspendisse pulvinar sagittis vestibulum. Aliquam eget elit non justo pharetra accumsan ac non lorem. Duis in lorem vitae nulla ornare varius sed a felis. Fusce nisi massa, bibendum sed mollis ac, placerat ut lacus. Aliquam quis lacus non odio varius eleifend eget at turpis. Cras faucibus, nulla a consectetur ultricies, mi ligula dapibus metus, vitae sollicitudin sapien lacus ac est. Nam vel risus lacus. Mauris ut mauris nec urna facilisis tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce at libero at orci iaculis feugiat.<br />
<br />
<em>(<a href="#">Lorem ipsum</a>)</em></div>
		</div>
		<div id="news3" class="box">
			<div class="head">
				<strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> <span class="time" title="">1 Day ago</span></div>
			<div class="pad"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac sapien vitae urna lobortis volutpat. Integer id eros vehicula sem mattis aliquet. Duis ante nisi, feugiat at adipiscing et, volutpat nec tellus. In libero arcu, porta vitae suscipit tempus, aliquam id eros. Nulla eu nisl at urna ornare accumsan. In placerat sollicitudin est sit amet auctor. Donec consequat mi facilisis tortor ornare rutrum porttitor lorem malesuada. Curabitur vitae ligula purus. Suspendisse consequat tincidunt erat, ut tincidunt orci facilisis non. Etiam ultricies dapibus ultrices. Aenean elit felis, pellentesque mollis cursus nec, tempus ac dolor. Aenean gravida tortor sed ligula feugiat a aliquam odio auctor.<br>
<br />
Ut vitae lectus a est commodo imperdiet. Vivamus auctor tristique ipsum in ultricies. Suspendisse a velit justo. Phasellus vitae diam vel mi facilisis sollicitudin. Suspendisse vehicula fringilla ultrices. Suspendisse pulvinar sagittis vestibulum. Aliquam eget elit non justo pharetra accumsan ac non lorem. Duis in lorem vitae nulla ornare varius sed a felis. Fusce nisi massa, bibendum sed mollis ac, placerat ut lacus. Aliquam quis lacus non odio varius eleifend eget at turpis. Cras faucibus, nulla a consectetur ultricies, mi ligula dapibus metus, vitae sollicitudin sapien lacus ac est. Nam vel risus lacus. Mauris ut mauris nec urna facilisis tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce at libero at orci iaculis feugiat.<br />
<br />
<em>(<a href="#">Lorem ipsum</a>)</em></div>
		</div>
		<div id="news2" class="box">
			<div class="head">
				<strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> <span class="time" title="">1 Day ago</span></div>
			<div class="pad"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac sapien vitae urna lobortis volutpat. Integer id eros vehicula sem mattis aliquet. Duis ante nisi, feugiat at adipiscing et, volutpat nec tellus. In libero arcu, porta vitae suscipit tempus, aliquam id eros. Nulla eu nisl at urna ornare accumsan. In placerat sollicitudin est sit amet auctor. Donec consequat mi facilisis tortor ornare rutrum porttitor lorem malesuada. Curabitur vitae ligula purus. Suspendisse consequat tincidunt erat, ut tincidunt orci facilisis non. Etiam ultricies dapibus ultrices. Aenean elit felis, pellentesque mollis cursus nec, tempus ac dolor. Aenean gravida tortor sed ligula feugiat a aliquam odio auctor.<br>
<br />
Ut vitae lectus a est commodo imperdiet. Vivamus auctor tristique ipsum in ultricies. Suspendisse a velit justo. Phasellus vitae diam vel mi facilisis sollicitudin. Suspendisse vehicula fringilla ultrices. Suspendisse pulvinar sagittis vestibulum. Aliquam eget elit non justo pharetra accumsan ac non lorem. Duis in lorem vitae nulla ornare varius sed a felis. Fusce nisi massa, bibendum sed mollis ac, placerat ut lacus. Aliquam quis lacus non odio varius eleifend eget at turpis. Cras faucibus, nulla a consectetur ultricies, mi ligula dapibus metus, vitae sollicitudin sapien lacus ac est. Nam vel risus lacus. Mauris ut mauris nec urna facilisis tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce at libero at orci iaculis feugiat.<br />
<br />
<em>(<a href="#">Lorem ipsum</a>)</em></div>
		</div>
		<div id="news1" class="box">
			<div class="head">
				<strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> <span class="time" title="">1 Day ago</span></div>
			<div class="pad"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac sapien vitae urna lobortis volutpat. Integer id eros vehicula sem mattis aliquet. Duis ante nisi, feugiat at adipiscing et, volutpat nec tellus. In libero arcu, porta vitae suscipit tempus, aliquam id eros. Nulla eu nisl at urna ornare accumsan. In placerat sollicitudin est sit amet auctor. Donec consequat mi facilisis tortor ornare rutrum porttitor lorem malesuada. Curabitur vitae ligula purus. Suspendisse consequat tincidunt erat, ut tincidunt orci facilisis non. Etiam ultricies dapibus ultrices. Aenean elit felis, pellentesque mollis cursus nec, tempus ac dolor. Aenean gravida tortor sed ligula feugiat a aliquam odio auctor.<br>
<br />
Ut vitae lectus a est commodo imperdiet. Vivamus auctor tristique ipsum in ultricies. Suspendisse a velit justo. Phasellus vitae diam vel mi facilisis sollicitudin. Suspendisse vehicula fringilla ultrices. Suspendisse pulvinar sagittis vestibulum. Aliquam eget elit non justo pharetra accumsan ac non lorem. Duis in lorem vitae nulla ornare varius sed a felis. Fusce nisi massa, bibendum sed mollis ac, placerat ut lacus. Aliquam quis lacus non odio varius eleifend eget at turpis. Cras faucibus, nulla a consectetur ultricies, mi ligula dapibus metus, vitae sollicitudin sapien lacus ac est. Nam vel risus lacus. Mauris ut mauris nec urna facilisis tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce at libero at orci iaculis feugiat.<br />
<br />
<em>(<a href="#">Lorem ipsum</a>)</em></div>
		</div>
		<div id="more_news" class="box">
			<div class="head">
				<em>Lorem ipsum, <a href="#">Lorem ipsum</a>.</em>
			</div>
		</div>
	</div>
</div>